.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s ease;
}

.input:focus {
  border-color: #999;
}




.input:disabled {
  background-color: #eee;
  color: #aaa;
}

.error {
  border-color: red;
}

.errorText {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}
